/* Home page */
.homePage {
    position: relative;
    height: 50vh;
    font-family: 'Fredoka One', cursive;
    /* background: rgb(131,58,180); */
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
    background-size: 200% 200%;
    /* background-size: cover; */
    background-repeat: no-repeat;
    display: column;
}

.homeHeading {
    /* min-width: 900px;
    max-width: 1000px; */
    border: 2px solid none;
    margin: auto;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeHeading img {
    border-radius: 20px;
}

.homeHeading h1 {
    font-size: 60px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}

.homeHeading h3 {
    font-size: 20px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}

.homePage .homeOptions {
    /* border: 2px solid; */
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 250px;
    border: 2px solid none;
    padding: 10px 0;
    position: relative;
}

/* .homeOptions .beginOrder {
    border: 2px solid;
    border-radius: 10px;
    float: left;
    padding: 30px 40px;
    margin: 0 3rem;
    font-size: 30px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    background-color: #fff;
    -webkit-box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
    transition: 0.2s;
} */

.homeOptions .beginOrder a {
    border: 2px solid;
    color: black;
    border-radius: 10px;
    float: left;
    padding: 30px 40px;
    margin: 0 3rem;
    font-size: 30px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    background-color: #fff;
    -webkit-box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
    transition: 0.2s;
    text-decoration: none; 
}

/* 
.homeOptions .inform {
    border: 2px solid;
    border-radius: 10px;
    float: right;
    padding: 30px 70px;
    margin: 0 3rem;
    font-size: 30px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    background-color: #fff;
    -webkit-box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
    transition: 0.3s;
} */

.homeOptions .inform a {
    border: 2px solid;
    border-radius: 10px;
    color: black;
    float: right;
    padding: 30px 70px;
    margin: 0 3rem;
    font-size: 30px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    background-color: #fff;
    -webkit-box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.75);
    transition: 0.3s;
    text-decoration: none;
}

.homeOptions a:hover {
    color: white;
}


.homeOptions .beginOrder a:hover {
    color: white;
    /* background: rgb(131,58,180); */
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
    cursor: pointer;
}

.homeOptions .inform a:hover {
    color: white;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 100%, rgba(252,176,69,1) 100%);
    cursor: pointer;
}

.homeOptions .beginOrder a:active {
    box-shadow: none;
}

.homeOptions .inform a:active {
    box-shadow: none;
}

@media screen and (max-width: 768px) {
    .homeHeading img {
        width: 150px;
    }

    .homeHeading h1 {
        font-size: 50px;
    }

    .homeHeading h3 {
        font-size: 17px;
    }

    .homePage .homeOptions {
        flex-direction: column;
    }

    .homeOptions .beginOrder {
        margin-bottom: 40px;
    }

    .homeOptions .beginOrder a {
        width: 300px;
    }
    
    .homeOptions .inform {
        margin-bottom: 10px;
    }

    .homeOptions .inform a {
        width: 250px;
    }
}

/*
.homeFooter {
    border: 2px solid;
    position: relative;
    top: 200px;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    padding: 35px;
    background-color: #fff;
}

.homeFooter .mySocialMedia {
    border: 2px solid;
}

.homeFooter .footerLaw {
    line-height: 2.5em;
    letter-spacing: 0.5px;
}

.homeFooter .footerLaw .copyrights {
    border: 2px solid;
    display: flex;
}

.homeFooter .footerLaw .copyrights i {
    font-size: 3rem;
}
*/

/* Making pizza part one */




/* User Information Page */

/* Heading */

body .userInfoPage {

}

.heading {
    width: 100%;
    /* border: 2px solid; */
    font-size: 20px;
    margin: 0 0 20px 0;
}

.heading h1 {
    font-family: 'Fredoka One', cursive;
    text-align: center;
}

/* Input fields */
input[type= text] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    font-size: 20px;
    margin: 8px 0;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    transition: .3s;
    line-height: 10px;
}

input[type= text]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

.inputWithIcon input[type= text] {
    padding-left: 50px;
}

.inputWithIcon {
    position: relative;
}

.inputWithIcon i {
    position: absolute;
    top: 9px;
    left: 0.7px;
    padding: 5px 7px;
    color: #aaa;
    transition: .3s;
}

.inputWithIcon input[type= text]:focus + i {
    color: dodgerblue;
}

.inputWithIcon.inputIconBg i {
    background-color: #aaa;
    color: #fff;
    padding: 10px 10px;
    border-radius: 2px 0 0 2px;
}

.inputWithIcon.inputIconBg input[type= text]:focus + i {
    color: #fff;
    background-color: dodgerblue;
}

/* Input border */
.myInput {
    width: 60%;
    min-width: 400px;
    max-width: 500px;
    border: 2px solid;
    padding: 30px 20px;
    margin: auto;
    border-radius: 10px;
    position: absolute;
    top: 150px;
    left: 450px;
}

p[type= submit] {
    position: relative;
    width: 20%;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    left: 40%;
}

p[type= submit]:hover {
    cursor: pointer;
}
