/* Variable declaration */
:root {
    --color: rebeccapurple;
  }


*,
*:before,
*:after {
  box-sizing: border-box;
}

.cheese-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family: 'Fredoka One', cursive;
    background: rgb(255,221,4);
    background: linear-gradient(90deg, rgba(255,221,4,1) 0%, rgba(241,134,15,1) 100%);
    background-size: 200% 200%;
    /* background-size: cover; */
    background-repeat: no-repeat;
}

.cheese-form {
    border: 5px solid;
    border-radius: 10px;
    background-color: white;
}

.cheese-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 35px 0px 35px;
}

.cheese-header img {
    border-radius: 20px;
}

.cheese-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
    margin-bottom: 30px;
}

.cheese-options .radio label {
    font-size: 20px;
}

.cheese-options .submit [type ^= "submit"] {
    border: 2px solid;
    color: black;
    border-radius: 10px;
    float: left;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    background-color: #fff;
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    transition: 0.2s;
    text-decoration: none;
    cursor: pointer;
}

.cheese-options .submit [type ^= "submit"]:hover {
    color: white;
    background: rgb(255,221,4);
    background: linear-gradient(90deg, rgba(255,221,4,1) 0%, rgba(241,134,15,1) 100%);
}

.cheese-options .submit [type ^= "submit"]:active {
    box-shadow: none;
}

.cheese-options div {
    margin: 15px 0px;
}

@media screen and (max-width: 768px) {
    .cheese-form {
        width: 100%;
    }

    .cheese-header img {
        border-radius: 20px;
        width: 150px;
    }

    .cheese-header h1{
        font-size: 30px;
    }

    .cheese-options .radio label {
        font-size: 25px;
    }

    .cheese-options .submit [type ^= "submit"] {
        width: 400px;
        padding: 20px;
        margin-top: 35px;
    }
}
